body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: skyblue;
}
.dark {
  background-color: black;
}
img {
  position: relative;
  top: -10px;
  left: 230px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #fff;
  box-shadow: .5px .5px .5px 1px #fff;
}
form {
  background-color: skyblue;
  margin-top: 100px;
  font-family: Arial;
  border: 1px solid #fff;
  border-radius: 5px; 
  box-shadow: 1px 1px 1px 2px #fff;
  padding: 20px;
  
}
.conteiner {
  border: 1px solid #fff; 
  margin-top: -65px;
}
#user {
  width: 95%;
  height: 25px;
  border-radius: 5px;
  border: .5px solid black; 
}
#email {
  width: 95%;
  height: 25px;
  border-radius: 5px;
  border: .5px solid black; 
}
#pw {
  width: 95%;
  height: 25px;
  border-radius: 5px;
  border: .5px solid black; 
}
.hoby4 {
  width: 95%;
  height: 25px;
  border-radius: 5px;
  border: .5px solid black; 
}
.hoby0 {
  padding-left: 4px;
}
.submit {
  background-color: skyblue;
  padding: 15px 30px;
  margin-left: 80px;
  border: 1px solid #fff; 
  border-radius: 5px; 
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}
.submit:hover {
  background-color: pink;
  transition: all .5s ease in out;
}
.dark {
  background-color: black;
}
.dark2 {
  background-color: black;
}
span {
  font-size: 5px;
  margin-left: 185px;
}
@media only screen and (min-width: 1020px){
 body {
   background-color: pink;
 }
  form {
  margin-left: -8px;
  padding-left: -30px;
  background-color: sky;
  margin-top: 100px;
  font-family: Arial;
  border: 5px solid #fff;
  border-radius: 9px; 
  box-shadow: 2px 2px 2px 3px #fff;
  padding: 400px 150px;
}
.name {
  margin-top: -290px;
  margin-right: 50px;
  margin-left: -30px;
}
#user {
  padding-left: -10px;
}
.email {
margin-top: 50px;
margin-left: -30px;
margin-right: 45px;
}
.password {
  margin-top: 50px;
margin-left: -30px;
margin-right: 45px;
}
#user, #email, #pw {
  padding-left: -20px;
  padding: 29px 65px;
  margin-bottom: 8px;
  font-size: 35px;
  text-align: left 0px;
  border-radius: 10px;
  border: 1px solid black; 
}
.adamhawa {
  margin-bottom: -200px;
  margin-top: 30px;
  margin-left: -10px;
}
.gender {
  margin-top: 900px;
  font-size: 35px;
}
.labelatas {
  font-size: 35px;
}
.choice {
  margin-top: 10px;
  width: 50px;
  height: 50px;
  border: 1px solid black;
}
.choice2 {
  padding-left: 20px;
  margin-top: 10px;
  width: 50px;
  height: 50px;
  border: 1px solid black;
}
#slect {
  font-size: 35px;
}
.slect2 {
  font-size: 35px;
}
.hoby0 {
  margin-top: 200px;
  font-size: 35px;
}
.myhoby {
  position: relative;
  margin-top: 230px;
  margin-bottom: -100px;
}
.hoby1 {
  width: 50px;
  height: 50px;
}
.hoby1 {
  width: 50px;
  height: 50px;
}
.hoby1 {
  width: 50px;
  height: 50px;
}
.hoby1,.hoby2,.hoby3,.hoby5 {
  width: 40px;
  height: 40px;
}
.hoby2, .hoby5 {
  margin-left: 20px;
}
#hoby, #hoby1,#hoby2,#hoby3 {
  font-size: 35px;
}
#hoby1,#hoby3 {
  margin-left: 20px;
}
.hoby4 {
  margin-left: -30px;
  padding: 22px 30px;
  margin-top: 20px;
  font-size: 35px;
  border-radius: 5px;
  border: 1px solid black; 
}
.submit {
  position: absolute;
  margin-bottom: -1000px;
  margin-top: 180px;
  margin-left: 150px;
  padding: 60px 120px;
  font-size: 45px;
  border-radius: 20px; 
  cursor: pointer;
}
.submit:hover {
  transition: all  .5s ease in out;
  background-color: pink;
  transform: rotate(3deg);
}
img {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   box-shadow: 1px 1px 1px 2px #fff;
   position: relative;
   top:  -350px;
   left: 710px;
   right: 0px;
   border-radius: 50%;
   width : 120px;
   height: 120px;
}
span {
  font-size: 30px;
  position: relative;
  left: 510px; 
  top: -350px;
}

}